TranslateWebApplication/Service References/GoblinServiceReference/GoblinWCF11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Common.Types" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Common.Types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfKeyValueOfstringstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringstring" nillable="true" type="tns:KeyValueOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringstring" nillable="true" type="tns:ArrayOfKeyValueOfstringstring" />
  <xs:complexType name="KeyValueOfstringstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValueOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Common.Types" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValueOfstringstring" nillable="true" type="tns:KeyValueOfstringstring" />
  <xs:complexType name="ChangeSourceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddedCount" type="xs:int" />
      <xs:element minOccurs="0" name="EditedCount" type="xs:int" />
      <xs:element minOccurs="0" name="RemovedCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChangeSourceInfo" nillable="true" type="tns:ChangeSourceInfo" />
</xs:schema>