TranslateWebApplication/Service References/GoblinServiceReference/GoblinWCF12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Goblin.Common.Pub.Types.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Goblin.Common.Pub.Types.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://goblin.localization.dev.joker.opentao.net/GoblinWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfTranslatedText">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TranslatedText" type="tns:TranslatedText" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTranslatedText" nillable="true" type="tns:ArrayOfTranslatedText" />
  <xs:complexType name="TranslatedText">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TranslatedText" nillable="true" type="tns:TranslatedText" />
</xs:schema>