TranslateWebApplication/Service References/GoblinServiceReference/GoblinWCF7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Common.Types.ComplexTypes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Common.Types.ComplexTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://goblin.localization.dev.joker.opentao.net/GoblinWCF.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Common.Pub.Types" />
  <xs:import schemaLocation="http://goblin.localization.dev.joker.opentao.net/GoblinWCF.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Goblin.Common.Pub.Types.Entities" />
  <xs:complexType name="DataListOfTextByLangwFXowe_P_S">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="DataListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Common.Types.ComplexTypes" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TextByLang" Namespace="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Common.Pub.Types" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Common.Pub.Types" minOccurs="0" name="Content" nillable="true" type="q1:ArrayOfTextByLang" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataListOfTextByLangwFXowe_P_S" nillable="true" type="tns:DataListOfTextByLangwFXowe_P_S" />
  <xs:complexType name="DataListOfTextByIdwFXowe_P_S">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="DataListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Common.Types.ComplexTypes" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TextById" Namespace="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Common.Pub.Types" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Common.Pub.Types" minOccurs="0" name="Content" nillable="true" type="q2:ArrayOfTextById" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataListOfTextByIdwFXowe_P_S" nillable="true" type="tns:DataListOfTextByIdwFXowe_P_S" />
  <xs:complexType name="DataListOfTranslatedItemwFXowe_P_S">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="DataListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Common.Types.ComplexTypes" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TranslatedItem" Namespace="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Common.Pub.Types" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Common.Pub.Types" minOccurs="0" name="Content" nillable="true" type="q3:ArrayOfTranslatedItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataListOfTranslatedItemwFXowe_P_S" nillable="true" type="tns:DataListOfTranslatedItemwFXowe_P_S" />
  <xs:complexType name="DataListOfTranslatedTextxBHmhEPe">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="DataListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Common.Types.ComplexTypes" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TranslatedText" Namespace="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Goblin.Common.Pub.Types.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Goblin.Common.Pub.Types.Entities" minOccurs="0" name="Content" nillable="true" type="q4:ArrayOfTranslatedText" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataListOfTranslatedTextxBHmhEPe" nillable="true" type="tns:DataListOfTranslatedTextxBHmhEPe" />
</xs:schema>