TranslateWebApplication/Service References/GoblinServiceReference/GoblinWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Common.Pub.Types" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Common.Pub.Types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://goblin.localization.dev.joker.opentao.net/GoblinWCF.svc?xsd=xsd10" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="TranslateFindParameters">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TranslateSearchParameters">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TranslateFindParameters" nillable="true" type="tns:TranslateFindParameters" />
  <xs:complexType name="TranslateSearchParameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="Context" nillable="true" type="tns:ContextKey" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TranslateSearchParameters" nillable="true" type="tns:TranslateSearchParameters" />
  <xs:complexType name="ContextKey">
    <xs:sequence>
      <xs:element minOccurs="0" name="Context" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContextKey" nillable="true" type="tns:ContextKey" />
  <xs:complexType name="TranslatedItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Context" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdInContext" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Translate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TranslatedItem" nillable="true" type="tns:TranslatedItem" />
  <xs:complexType name="ArrayOfContextKey">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContextKey" nillable="true" type="tns:ContextKey" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContextKey" nillable="true" type="tns:ArrayOfContextKey" />
  <xs:complexType name="ArrayOfTextByLang">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TextByLang" nillable="true" type="tns:TextByLang" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTextByLang" nillable="true" type="tns:ArrayOfTextByLang" />
  <xs:complexType name="TextByLang">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lang" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TextByLang" nillable="true" type="tns:TextByLang" />
  <xs:complexType name="KeyedText">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsHtml" type="xs:boolean" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="tns:ContextKey" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyedText" nillable="true" type="tns:KeyedText" />
  <xs:complexType name="KeyedTextPackage">
    <xs:sequence>
      <xs:element minOccurs="0" name="KeyedTexts" nillable="true" type="tns:ArrayOfKeyedText" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyedTextPackage" nillable="true" type="tns:KeyedTextPackage" />
  <xs:complexType name="ArrayOfKeyedText">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyedText" nillable="true" type="tns:KeyedText" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyedText" nillable="true" type="tns:ArrayOfKeyedText" />
  <xs:complexType name="ArrayOfTextById">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TextById" nillable="true" type="tns:TextById" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTextById" nillable="true" type="tns:ArrayOfTextById" />
  <xs:complexType name="TextById">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TextById" nillable="true" type="tns:TextById" />
  <xs:complexType name="ArrayOfTranslatedItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TranslatedItem" nillable="true" type="tns:TranslatedItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTranslatedItem" nillable="true" type="tns:ArrayOfTranslatedItem" />
</xs:schema>