TranslateWebApplication/Service References/GoblinServiceReference/GoblinWCF3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Common.Exceptions.Pub.Stuff" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Common.Exceptions.Pub.Stuff" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NamedParameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="Parameters" nillable="true" type="tns:ArrayOfNamedParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NamedParameters" nillable="true" type="tns:NamedParameters" />
  <xs:complexType name="ArrayOfNamedParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NamedParameter" nillable="true" type="tns:NamedParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNamedParameter" nillable="true" type="tns:ArrayOfNamedParameter" />
  <xs:complexType name="NamedParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="ParameterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NamedParameter" nillable="true" type="tns:NamedParameter" />
</xs:schema>