TranslateWebApplication/Service References/GoblinServiceReference/GoblinWCF10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RKdev.Sdk.Common.dev.AbstractServices.Pub.Types" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RKdev.Sdk.Common.dev.AbstractServices.Pub.Types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://goblin.localization.dev.joker.opentao.net/GoblinWCF.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Backbone.Dispatching.ServiceModel.Pub.Types.Answers" />
  <xs:complexType name="ServiceAnswerOfGeneralErrorCode4hYT7zxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceAnswerOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RKdev.Sdk.Common.dev.AbstractServices.Pub.Types" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="GeneralErrorCode" Namespace="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Backbone.Dispatching.ServiceModel.Pub.Types.Answers" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Backbone.Dispatching.ServiceModel.Pub.Types.Answers" minOccurs="0" name="ErrorCode" type="q1:GeneralErrorCode" />
      <xs:element minOccurs="0" name="ErrorDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceAnswerOfGeneralErrorCode4hYT7zxC" nillable="true" type="tns:ServiceAnswerOfGeneralErrorCode4hYT7zxC" />
</xs:schema>