TranslateWebApplication/Service References/GoblinServiceReference/GoblinWCF9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://goblin.localization.dev.joker.opentao.net/GoblinWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Common.Types" />
  <xs:import schemaLocation="http://goblin.localization.dev.joker.opentao.net/GoblinWCF.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Goblin.Common.Pub.Types.Answers" />
  <xs:import schemaLocation="http://goblin.localization.dev.joker.opentao.net/GoblinWCF.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Common.Pub.Types" />
  <xs:element name="EditDictionaryTranslate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="instanceKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Common.Types" minOccurs="0" name="translates" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
        <xs:element minOccurs="0" name="langFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="langTo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDictionaryTranslateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Goblin.Common.Pub.Types.Answers" minOccurs="0" name="EditDictionaryTranslateResult" nillable="true" type="q2:ChangeSourceInfoAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTranslate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="instanceKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Common.Pub.Types" minOccurs="0" name="findParameters" nillable="true" type="q3:TranslateFindParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTranslateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Goblin.Common.Pub.Types.Answers" minOccurs="0" name="FindTranslateResult" nillable="true" type="q4:TranslatedItemAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTranslatedListByKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="instanceKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Common.Pub.Types" minOccurs="0" name="contextKeys" nillable="true" type="q5:ArrayOfContextKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTranslatedListByKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Goblin.Common.Pub.Types.Answers" minOccurs="0" name="GetTranslatedListByKeyResult" nillable="true" type="q6:TextByLangListAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTranslateByKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="instanceKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Common.Pub.Types" minOccurs="0" name="keyedText" nillable="true" type="q7:KeyedText" />
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTranslateByKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Goblin.Common.Pub.Types.Answers" minOccurs="0" name="RemoveTranslateByKeyResult" nillable="true" type="q8:ChangeSourceInfoAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTranslateLsitByKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="instanceKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Common.Pub.Types" minOccurs="0" name="package" nillable="true" type="q9:KeyedTextPackage" />
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTranslateLsitByKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Goblin.Common.Pub.Types.Answers" minOccurs="0" name="RemoveTranslateLsitByKeyResult" nillable="true" type="q10:ChangeSourceInfoAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTextsByContext">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="instanceKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Common.Pub.Types" minOccurs="0" name="context" nillable="true" type="q11:ContextKey" />
        <xs:element minOccurs="0" name="searchText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxResult" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTextsByContextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Goblin.Common.Pub.Types.Answers" minOccurs="0" name="SearchTextsByContextResult" nillable="true" type="q12:TextByIdListAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTranslate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="instanceKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Common.Pub.Types" minOccurs="0" name="searchParameters" nillable="true" type="q13:TranslateSearchParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTranslateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Goblin.Common.Pub.Types.Answers" minOccurs="0" name="SearchTranslateResult" nillable="true" type="q14:TranslatedItemListAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TranslateHtml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="instanceKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="htmlForTranslate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="langFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="langTo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TranslateHtmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Goblin.Common.Pub.Types.Answers" minOccurs="0" name="TranslateHtmlResult" nillable="true" type="q15:TranslateHtmlAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TranslateText">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="instanceKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="langFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="langTo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TranslateTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Goblin.Common.Pub.Types.Answers" minOccurs="0" name="TranslateTextResult" nillable="true" type="q16:TranslateTextAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TranslateTextByKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="instanceKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Common.Pub.Types" minOccurs="0" name="keyedText" nillable="true" type="q17:KeyedText" />
        <xs:element minOccurs="0" name="langFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="langTo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TranslateTextByKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Goblin.Common.Pub.Types.Answers" minOccurs="0" name="TranslateTextByKeyResult" nillable="true" type="q18:TranslateTextByKeyAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TranslateTextPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="instanceKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="textPackageXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="langFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="langTo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TranslateTextPackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Goblin.Common.Pub.Types.Answers" minOccurs="0" name="TranslateTextPackageResult" nillable="true" type="q19:TranslateTextPackageAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TranslateTextPackageByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="instanceKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Common.Pub.Types" minOccurs="0" name="package" nillable="true" type="q20:KeyedTextPackage" />
        <xs:element minOccurs="0" name="langFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="langTo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TranslateTextPackageByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Goblin.Common.Pub.Types.Answers" minOccurs="0" name="TranslateTextPackageByKeysResult" nillable="true" type="q21:TranslatedTextListAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrCreateTranslateByKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="instanceKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Common.Pub.Types" minOccurs="0" name="keyedText" nillable="true" type="q22:KeyedText" />
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrCreateTranslateByKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Goblin.Common.Pub.Types.Answers" minOccurs="0" name="UpdateOrCreateTranslateByKeyResult" nillable="true" type="q23:ChangeSourceInfoAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrCreateTranslateListByKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="instanceKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Common.Pub.Types" minOccurs="0" name="package" nillable="true" type="q24:KeyedTextPackage" />
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrCreateTranslateListByKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/RKdev.EWay.Opentao.dev.Localization.Goblin.Common.Pub.Types.Answers" minOccurs="0" name="UpdateOrCreateTranslateListByKeyResult" nillable="true" type="q25:ChangeSourceInfoAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>